.header {
    grid-area: header;
    border-style: solid;
    border-width: 2px;
    height: 365px;
    background-image: url('../img/header.gif');
    background-size: none;
    background-position: center;
}